* {
  box-sizing: border-box;
}

.start-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.start-box {
  border: 3px solid black;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  height: 400px;
  display: flex;
  flex-direction: column;
}

.start-box {
  width: 400px;
  justify-content: space-around;
  align-items: center;
  input, button, select, .label {
    border: none;
    border-radius: 3px;
    font-size: 20px;
    padding: 8px 10px;
  }
  .start-form {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    p {
      text-align: center;
    }
    .icon-picker {
      display: flex;
      align-items: center;
      justify-content: center;
      .arrow {
        margin: 0 15px;
        cursor: pointer;
        font-size: 30px;
        color: rgba(0, 0, 0, 0.7);
      }
      .icon {
        font-size: 70px;
      }
    }
    .room-options {
      display: flex;
      flex-direction: column;
      .join-room {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
        & * {
          width: 100%;
        }
      }
    }
    .rounds {
      width: 180px;
      text-align: center;
      margin-bottom: 15px;
      select {
        margin-left: 10px;
        text-align: center;
        width: auto;
        background: #fff;
        &:disabled {
          background: #eee;
        }
      }
    }
    .round-length {
      width: 180px;
      margin-bottom: 15px;
      input {
        width: 63px;
        &:disabled {
          background: #eee;
        }
      }
    }
    .btn.play {
      margin-bottom: 10px;
      width: 150px;
    }
  }
  .room-name-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
    .btn.room-name-text {
      font-family: "Cantarell Light", sans-serif;
      font-size: 30px;
      background: none;
      box-shadow: none;
      font-weight: bold;
      text-shadow: -5px 0 10px rgba(255, 255, 255, 0.7), 5px 0 10px rgba(255, 255, 255, 0.7), 0 -5px 10px rgba(255, 255, 255, 0.7), 0 5px 10px rgba(255, 255, 255, 0.7);
    }
    p {
      text-align: center;
      margin-top: 5px;
    }
  }
}

.room-players {
  width: 250px;
  height: 330px;
  border-left: none;
  display: flex;
  flex-direction: column;
  .title {
    text-align: center;
    margin: 15px 0;
    font-size: 30px;
    padding: 8px 10px;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: -5px 0 10px rgba(230, 78, 80, 0.7), 5px 0 10px rgba(230, 78, 80, 0.7), 0 -5px 10px rgba(230, 78, 80, 0.7), 0 5px 10px rgba(230, 78, 80, 0.7);
  }
  .players-container {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .player {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 3px;
      padding: 10px;
      margin: 6px;
      height: 100px;
      font-size: 15px;
      font-weight: bold;
      text-align: center;
      &:nth-child(2n+1) {
        background-color: rgba(255, 255, 255, 0.5);
      }
      &:nth-child(2n) {
        background-color: rgba(255, 255, 255, 0.8);
      }
      .icon {
        font-size: 45px;
        margin-bottom: 10px;
      }
      span {
        font-size: 15px;
        color: #000;
        pointer-events: none;
      }
    }
  }
}

.btn {
  box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, .4);
  &:hover {
    background-color: lighten(salmon, 15%);
    transform: none;
    transition: 0.3s;
  }
  &:focus {
    border: none;
    outline: none;
  }
}

.btn:disabled, select:disabled {
  pointer-events: none;
}
