* {
  box-sizing: border-box;
}

body {
  background: url(assets/images/blackhole.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.start-wrapper {
  .rounds {
    font-size: 20px;
  }
}

.wrapper {
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 900px 1fr;
  grid-column-gap: 10px;
}

.title {
  height: 60px;
  margin-left: 5px;
  font-size: 50px;
  color: #fff;
  font-family: "Cantarell Light", sans-serif;
}

.scoreboard {
  margin-top: 60px;
  max-height: 600px;
  height: auto;
  width: auto;
  min-width: 120px;
  padding-left: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 3px solid white;
  border-radius: 5px;
  color: #fff;
  list-style: none;
  .player {
    height: 80px;
    border-radius: 2px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 5px;
    &:nth-child(2n+1) {
      background-color: rgba(255, 255, 255, 0.3);
    }
    &:nth-child(2n) {
      background-color: rgba(255, 255, 255, 0.6);
    }
  }
}

.start-btn {
  position: absolute;
  width: 100px;
  font-size: 20px;
  padding: 6px 8px;
  margin: 10px;
  background-color: darkOrange;
  border-radius: 2px;
  &:hover {
    background-color: deepPink;
    transform: scale(1.1);
    transition: all 0.2s;
  }
}

canvas {
  height: 600px;
  width: 900px;
  background: #fff;
  cursor: url(assets/images/presets/pxbrush1.png) 2.5 2.5, pointer;
}

.tools {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  .tool {
    margin: 10px 2px;
    width: 55px;
    height: 55px;
    border-radius: 3px;
    background-size: cover;
    &.resetter {
      background-image: url("./assets/images/delete.png");
      &:active {
        background-image: url("./assets/images/delete_active.png");
      }
    }
    &.filler {
      position: relative;
      background-image: url("./assets/images/fill.png");
      &.selected {
        background-image: url("./assets/images/fill_active.png");
      }
    }
    &.eraser {
      background-image: url("./assets/images/eraser1.jpg");
      &.selected {
        background-image: url("./assets/images/eraser1_active.jpg");
      }
    }
    &.brush {
      background-image: url("./assets/images/pencil.jpg");
      &.selected {
        background-image: url("./assets/images/pencil_active.png");
      }
    }
  }
}

button {
  border: none;
  outline: none;
}

.btn, .tool {
  cursor: pointer;
  transition: all 0.1s;
  &:hover {
    transform: scale(1.1);
  }
}

.palette-and-presets-toolbar {
  width: 900px;
  margin-right: 170px;
  border-radius: 3px;
  background-color: rgba(255, 255, 128, .2);
  display: flex;
  .palette {
    display: flex;
    align-items: center;
    margin-left: 8px;
    .current-colour {
      width: 60px;
      height: 60px;
      border-radius: 3px;
    }
    .colours {
      margin: 8px;
      display: block;
      flex: 1;
      flex-direction: column;
      cursor: pointer;
      .clr {
        width: 30px;
        height: 30px;
        &:disabled:hover {
          transform: none;
          cursor: default;
        }
      }
      .row {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        &:first-child > .clr {
          &:first-child {
            border-top-left-radius: 3px;
          }
          &:last-child {
            border-top-right-radius: 3px;
          }
        }
        &:last-child > .clr {
          &:first-child {
            border-bottom-left-radius: 3px;
          }
          &:last-child {
            border-bottom-right-radius: 3px;
          }
        }
      }
    }
  }
  .presets {
    display: flex;
    align-items: center;
    width: auto;
    height: 80px;
    margin-right: 4px;
    .preset {
      width: 55px;
      height: 55px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 2px;
      background-color: #eee;
      border-radius: 3px;
      cursor: pointer;
      & > div {
        background-color: #000;
        border-radius: 50%;
        text-align: center;
      }
      .pr1 {
        width: 10px;
        height: 10px;
      }
      .pr2 {
        width: 20px;
        height: 20px;
      }
      .pr3 {
        width: 30px;
        height: 30px;
      }
      .pr4 {
        width: 40px;
        height: 40px;
      }
    }
  }
}

.chat {
  margin-top: 60px;
  height: 600px;
  width: 90%;
  min-width: 280px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 5px;
  .message-list {
    margin: 0;
    padding: 0;
  }
  .message {
    padding: 5px;
    margin: 2px 0;
    list-style: none;
    border-radius: 2px;
    display: none;
    &:nth-child(2n+1) {
      background-color: rgba(255, 255, 255, 0.5);
    }
    &:nth-child(2n) {
      background-color: rgba(255, 255, 255, 0.8);
    }
    &:nth-child(-n+10) {
      display: block;
    }
  }
}

.sender {
  font-weight: bold;
}

.send-message-form {
  margin-bottom: 0;
  input {
    border-radius: 4px;
    border: 0;
    width: 100%;
    padding: 10px;
    margin-top: 3px;
    font-size: 15px;
  }
}

.words-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 700px;
  height: 350px;
  transform: translate(-50%,-50%);
  background: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  display: none;
  color: black;
  border: 1px solid black;
  &.showing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h2 {
    cursor: default;
  }
  .words-container {
    height: 100px;
    display: flex;
    margin-top: 30px;
    .word {
      // background-image: linear-gradient(to left bottom, rgba(230, 78, 80, 0.7), rgba(249, 212, 35, 0.7));
      color:black;
      font-size: 28px;
      text-shadow: -5px 0 25px rgba(230, 78, 80, 0.7), 5px 0 25px rgba(230, 78, 80, 0.7), 0 -5px 25px rgba(230, 78, 80, 0.7), 0 5px 25px rgba(230, 78, 80, 0.7);
      padding: 8px 6px;
      margin: 0 20px;
      cursor: pointer;
    }
  }
}
