* {
  box-sizing: border-box;
}

body {
  background: url(http://unsplash.it/1500/1000?random&blur=50);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover; 
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.wrapper {
  margin: 10px 30px 10px 30px;
}

.header {
  border: 3px solid black;
  margin-bottom: 10px;
  height: 60px;
  width: auto;
}

.container {
  display: flex;
  flex: 1;
  justify-content: center;
  .scoreboard {
    height: 200px;
    width: auto;
    min-width: 100px;
    flex: 1;
    border: 3px solid black;
  }
}

canvas {
  height: 600px;
  width: 900px;
  border: 3px solid black;
  margin: 0 10px;
  background: #fff;
  cursor: url(images/presets/pxbrush1.png) 2.5 2.5, pointer;
}

.tools-container {
  position: relative;
  .tools {
    position: absolute;
    right: 10px;
    top: 3px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    .tool {
      margin: 10px 2.5px;
      width: 55px;
      height: 55px;
      border-radius: 3px;
      background-size: cover;
      &.resetter {
        background-image: url("./images/delete.png");
        &:active {
          background-image: url("./images/delete_active.png");
        }
      }
      &.filler {
        position: relative;
        background-image: url("./images/fill.png");
        &.selected {
          background-image: url("./images/fill_active.png");
        }
      }
      &.eraser {
        background-image: url("./images/eraser1.jpg");
        &.selected {
          background-image: url("./images/eraser1_active.jpg");
        }
      }
      &.brush {
        background-image: url("./images/pencil.jpg");
        &.selected {
          background-image: url("./images/pencil_active.png");
        }
      }
    }
  }
}

button {
  border: none;
  outline: none;
}

.btn, .tool {
  cursor: pointer;
  transition: all 0.1s;
  &:hover {
    transform: scale(1.1);
  }
}

.toolbar.brush {
  display: flex;
  margin-right: 170px;
  justify-content: space-between;
  .palette {
    display: flex;
    align-items: center;
    width: 410px;
    height: 80px;
    margin-left: 10px;
    .current-colour {
      width: 60px;
      height: 60px;
      border-radius: 3px;
    }
    .colours {
      margin: 10px;
      display: block;
      flex: 1;
      flex-direction: column;
      cursor: pointer;
      .clr {
        width: 30px;
        height: 30px;
        &:disabled:hover {
          transform: none;
          cursor: default;
        }
      }
      .row {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        &:first-child > .clr {
          &:first-child {
            border-top-left-radius: 3px;
          }
          &:last-child {
            border-top-right-radius: 3px;
          }
        }
        &:last-child > .clr {
          &:first-child {
            border-bottom-left-radius: 3px;
          }
          &:last-child {
            border-bottom-right-radius: 3px;
          }
        }
      }
    }
  }
  .presets {
    display: flex;
    align-items: center;
    width: auto;
    height: 80px;
    margin-right: 85px;
    .preset {
      width: 55px;
      height: 55px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 5px;
      background-color: #eee;
      border-radius: 3px;
      cursor: pointer;
      & > div {
        background-color: #000;
        border-radius: 50%;
        text-align: center;
      }
      .pr1 {
        width: 10px;
        height: 10px;
      }
      .pr2 {
        width: 20px;
        height: 20px;
      }
      .pr3 {
        width: 30px;
        height: 30px;
      }
      .pr4 {
        width: 40px;
        height: 40px;
      }
    }
  }
}

.chat {
  height: 600px;
  width: 100%;
  min-width: 280px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 3px solid transparent;
  border-radius: 5px;
  /* box-sizing: border-box; */
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    padding: 5px;
    margin: 2px 0;
    list-style: none;
    border-radius: 2px;
    &:nth-child(2n+1) {
      background-color: rgba(255, 255, 255, 0.5);
    }
    &:nth-child(2n) {
      background-color: rgba(255, 255, 255, 0.8);
    }
  }
}

.sender {
  font-weight: bold;
}

.send-message-form {
  margin-bottom: 0;
  input {
    border-radius: 4px;
    border: 0;
    width: 100%;
    padding: 10px;
    margin-top: 3px;
    font-size: 15px;
  }
}